<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Regressiontest" parallel="tests" thread-count="2">
    <parameter name="hub_url" value="http://localhost:4444/wd/hub" />

    <listeners>
        <listener class-name="nl.benkhard.testautomation.TestListener" />
    </listeners>

    <test name="Firefox">
        <parameter name="browser" value="firefox" />

        <packages>
            <package name="nl.benkhard.testautomation.tests" />
        </packages>
    </test>

    <test name="Chrome">
        <parameter name="browser" value="chrome" />

        <packages>
            <package name="nl.benkhard.testautomation.tests" />
        </packages>
    </test>
</suite>